@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-primary: color(display-p3 0.957 0.945 0.918);
	--background-secondary: color(display-p3 0.914 0.902 0.875);
	--background-tertiary: color(display-p3 0.867 0.851 0.824);
	--text-primary: color(display-p3 0.173 0.173 0.173);
	--text-secondary: color(display-p3 0.4 0.4 0.4);
	--text-tertiary: color(display-p3 0.502 0.502 0.502);
	--text-inverted: color(display-p3 0.91 0.902 0.89);
	--accent: color(display-p3 0.929 0.502 0.031);
	--accent-muted: color(display-p3 0.851 0.459 0.027);
	--accent-translucent: color(display-p3 0.929 0.502 0.031 / 0.5);
	--border-primary: color(display-p3 0.173 0.173 0.173 / 0.2);
	--border-secondary: color(display-p3 0.4 0.4 0.4 / 0.15);
	--border-tertiary: color(display-p3 0.502 0.502 0.502 / 0.1);
}

.dark {
	--background-primary: color(display-p3 0.102 0.102 0.102);
	--background-secondary: color(display-p3 0.141 0.141 0.141);
	--background-tertiary: color(display-p3 0.18 0.18 0.18);
	--text-primary: color(display-p3 0.91 0.902 0.89);
	--text-secondary: color(display-p3 0.639 0.639 0.639);
	--text-tertiary: color(display-p3 0.549 0.549 0.549);
	--text-inverted: color(display-p3 0.173 0.173 0.173);
	--accent: color(display-p3 0.8 0.45 0.031);
	--accent-muted: color(display-p3 0.85 0.55 0.169);
	--accent-translucent: color(display-p3 0.8 0.45 0.031 / 0.5);
	--border-primary: color(display-p3 0.91 0.902 0.89 / 0.2);
	--border-secondary: color(display-p3 0.639 0.639 0.639 / 0.15);
	--border-tertiary: color(display-p3 0.549 0.549 0.549 / 0.1);
}

a {
	color: var(--accent);
	text-decoration: none;
	transition: color 0.1s ease;

	&:hover {
		color: var(--accent-muted);
	}
}
